
body {
	font-family: 'Hind', sans-serif;
	font-size: 16px;
	color: #151515;
	overflow-x: hidden;
}
img {
    max-width: 100%;
	height: auto;
}
a {
    outline: 0 !important;
}
h1,h2,h3,h4,h5,h6,p,a,li,span {
	word-wrap: break-word;
}





/* ========================================================================== */
/* ========================================================================== */
							/* [ + Responsive ] */
/* ========================================================================== */
/* ========================================================================== */

/* - max-width: 767 */
@media (max-width: 767px) {
	/* - Blog Post */
	.type-post {
		margin-bottom: 30px;
	}
	.widget-area {
		margin-top: 70px;
	}
	
}

/* - max-width: 575 */
@media (max-width: 575px) {
	/* - Blog Post */
	div.type-post {
		max-width: 370px;
		margin-left: auto;
		margin-right: auto;
	}
	
}

.entry-content{
	color: black;
	text-align: center;
}
.type-post:hover {
	transition:All 0.4s ease-in-out;
	background-color: rgb(203, 122, 65);
}
.type-post:hover .entry-content p{
	color: white;
}

.entry-content p{
	margin:  1em;
	line-height: 1.8em;

}

.entry-content a{
	margin:1em ;
	line-height: 1.5em;
	text-decoration:none;
	color: black;
	font-weight: bolder;
	margin-top:1.5em ;
	margin-bottom: 1.5em;
	font-size: 0.8em;
	text-align: justify;
}
.entry-content h6{
	font-size: small;
	margin-bottom:5px;
}
.type-post{
	background-color: #F2F2F2;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
	color: black;
	padding: 1em;
	margin-bottom: 1em;
	margin-top: 1em;
	transition:All 0.4s ease-in-out;
	padding-bottom: 2em;
	padding-top: 2em;
}

     /*-------------login----------------*/
	 .loginin{
        position: fixed;
        height: 70px;
        width: 70px;
        padding: 0;
        border: none;
        border-radius: 50%;
        left: 92%;
        top:68%;
        color: white;
        background-color: chocolate;
        transition:All 0.4s ease-in-out;
        display: none;
        
      }
	  .loginin:hover{
		color: chocolate;
		background-color: rgb(239, 152, 91);
		transition:All 0.4s ease-in-out;
	}
      @media screen and (max-width:1000px){
        .loginin{
          left:90%;
          height: 60px;
          width: 60px;
          display: block;
        }
      }
      @media screen and (max-width:700px){
        .loginin{
          left:80%;
          height: 60px;
          width: 60px;
        }
      }